# macOS関連
.DS_Store

# Xcode関連
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint

# プロジェクト構成情報（共有設定は除外しない）
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/

# Swift Package Manager (SPM)
.build/
.swiftpm/xcode/xcuserdata

# CocoaPods
# Pods/  # 必要に応じてコメント解除

# Carthage
Carthage/Build/

# Fastlane関連
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds関連
timeline.xctimeline
playground.xcworkspace

# その他
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# 一時ファイルやバックアップファイル
*.swp
*.moved-aside

# 特定の環境で生成される一時ファイルを追加（例: tmpディレクトリ）

